@using static PublicMessageWebsite.DataCore;
@using static PublicMessageWebsite.UrlPath;

    <head>
    <title>@PageInfo.WebTitle</title>
    <link rel="icon" href="@Img.Icon" type="image/x-icon">
    </head>
    <body>
    <div style="width:580px;height:auto;top: calc(50% - 120px);left: calc(50% - 290px);position: absolute;text-align:center">
        <h3>发送成功！</h3>
        <form method="post" action="@BackMain">
            <button type="submit">返回</button>
            </form>
        </div>
    </body>
